/.idea
imgui.ini
/data/other_mats/*/*.vox
/data/other_mats/*/long-motion-validation/*.vox
/data/data-motion-long-horizon/eef-cylinder/*.vox
/data/data-motion-long-horizon/eef-rectangle/*.vox
/data/data-motion-long-horizon/eef-round/*.vox
/data/data-motion-poking-1/eef-cylinder/*.vox
/data/data-motion-poking-1/eef-rectangle/*.vox
/data/data-motion-poking-1/eef-round/*.vox
/data/data-motion-poking-2/eef-cylinder/*.vox
/data/data-motion-poking-2/eef-rectangle/*.vox
/data/data-motion-poking-2/eef-round/*.vox
/data/data-motion-poking-shifting-1/eef-cylinder/*.vox
/data/data-motion-poking-shifting-1/eef-rectangle/*.vox
/data/data-motion-poking-shifting-1/eef-round/*.vox
/data/data-motion-poking-shifting-2/eef-cylinder/*.vox
/data/data-motion-poking-shifting-2/eef-rectangle/*.vox
/data/data-motion-poking-shifting-2/eef-round/*.vox
/data/data-motion-long-horizon/eef-cylinder/validation_data/*.vox
/data/data-motion-long-horizon/eef-rectangle/validation_data/*.vox
/data/data-motion-long-horizon/eef-round/validation_data/*.vox
/data/data-motion-poking-1/eef-cylinder/validation_data/*.vox
/data/data-motion-poking-1/eef-rectangle/validation_data/*.vox
/data/data-motion-poking-1/eef-round/validation_data/*.vox
/data/data-motion-poking-2/eef-cylinder/validation_data/*.vox
/data/data-motion-poking-2/eef-rectangle/validation_data/*.vox
/data/data-motion-poking-2/eef-round/validation_data/*.vox
/data/data-motion-poking-shifting-1/eef-cylinder/validation_data/*.vox
/data/data-motion-poking-shifting-1/eef-rectangle/validation_data/*.vox
/data/data-motion-poking-shifting-1/eef-round/validation_data/*.vox
/data/data-motion-poking-shifting-2/eef-cylinder/validation_data/*.vox
/data/data-motion-poking-shifting-2/eef-rectangle/validation_data/*.vox
/data/data-motion-poking-shifting-2/eef-round/validation_data/*.vox
