/.idea
imgui.ini
/data/data-motion-1/eef-cylinder/*.vox
/data/data-motion-1/eef-rectangle/*.vox
/data/data-motion-1/eef-round/*.vox
/data/data-motion-2/eef-cylinder/*.vox
/data/data-motion-2/eef-rectangle/*.vox
/data/data-motion-2/eef-round/*.vox
/data/data-motion-3/eef-cylinder/*.vox
/data/data-motion-3/eef-rectangle/*.vox
/data/data-motion-3/eef-round/*.vox
/data/data-motion-4/eef-cylinder/*.vox
/data/data-motion-4/eef-rectangle/*.vox
/data/data-motion-4/eef-round/*.vox
/data/data-motion-1/eef-cylinder/validation_data/*.vox
/data/data-motion-1/eef-rectangle/validation_data/*.vox
/data/data-motion-1/eef-round/validation_data/*.vox
/data/data-motion-2/eef-cylinder/validation_data/*.vox
/data/data-motion-2/eef-rectangle/validation_data/*.vox
/data/data-motion-2/eef-round/validation_data/*.vox
/data/data-motion-3/eef-cylinder/validation_data/*.vox
/data/data-motion-3/eef-rectangle/validation_data/*.vox
/data/data-motion-3/eef-round/validation_data/*.vox
/data/data-motion-4/eef-cylinder/validation_data/*.vox
/data/data-motion-4/eef-rectangle/validation_data/*.vox
/data/data-motion-4/eef-round/validation_data/*.vox